body {
  background-color: #cf8692a1;
  margin: 0;
}

.first-img {
  background: url("../images/wedding_couple.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 200px;
}

.first-img h1 {
  font-size: 60px;
}

.nav-bar {
  background-color: #f6eded8f;
  padding: 20px; 
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
}

.nav a{
  color: #000;
  text-decoration: none;
  padding: 0 150px;
}

.names {
  text-align: center;
  font-size: 38px;
  color: #806f6f;
}

.second-img {
  display: flex;
  justify-content: center;
}

.wed-info {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  line-height: 1em;
  font-size: 20px;
  color: #806f6f;
  font-style: italic;
}

.wed-det {
  text-align: center;
}

.button {
  text-align: center;
  margin: 4px 2px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 20px;
}
